<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="699889733762-agj03ud04gd16tt3up4pnj5jko6mbirv.apps.googleusercontent.com">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    
           
</head>
<body>

  <nav id="navbar">
    <ul>
        <li><a href="/usuarios">Usuarios</a></li>
        <li><a>Categorias</a></li>
        <li><a>Productos</a></li>
      </ul>
    <div>
      
      
      <div class="g-signin2" data-onsuccess="onSignIn"></div>

      <a href="#" onclick="signOut();">Sign out</a>

    </div>
  </nav>
    

    
  
  
<script src="./assets/js/botones.js"></script>
<script src="./assets/js/botones.js"></script>
           
</body>
</html>